[2014-10-30 17:06] RMFIX opened #14 "Itunes for Canada 12.01"
Hello,

Does the script for Canada works with iTunes 12.01 ?

Thank you,

[2014-10-30 19:27] brandonusher opened #15 "iTunes 12.01"
As with everything else, Apple loves breaking things.

This issue is for me to remember to continue working on the script to update for 12.01

[2014-11-05 16:14] heflin260 opened #16 "Script runs, fills fields, does not create account......possible error on last page with payment of none."
I am back at this after a couple months away. I have Mavericks 10.9.5 and iTunes 11.3.

I can run the "dry run" and everything seems to work ok as far a filling in the necessary fields. When I go to live run and create the apple ids, the script processes as if it is working normally. It goes through each line of the csv and proceeds to the next account to create. What I noticed was I wasn't gettin

[2015-02-26 21:03] applesupport opened #19 "imei"

[2015-03-27 16:13] jafuller commented on #16
This error happens when you reach your Apple appointed limit on the number of ID's from your IP address or your domain.

[2015-05-26 01:05] saman-php opened #20 "How to whitelist ip"
Your script is good but its depend on whitelist ip, because you have one, could you help me to whitelist my ip?

[2015-05-26 01:06] brandonusher commented on #20
You'll have to talk to you Apple Rep and they can help you with the process

Sent from my iPhone

On May 25, 2015, at 18:05, Saman A <notifications@github.com> wrote:

Your script is good but its depend on whitelist ip, because you have one,
could you help me to whitelist my ip?

—
Reply to this email directly or view it on GitHub
<https://github.com/brandonusher/Apple-ID-AppleScript/issues/20>.

[2015-05-26 01:15] saman-php commented on #20
Tnx for reply, But i want to know whats the process of whitelist an ip before call to apple rep?

[2015-05-26 01:16] brandonusher commented on #20
Call Apple Rep for Enterprise with your external IP at the ready.

You can get your IP from google by googling "What's my IP"

Sent from my iPhone

On May 25, 2015, at 18:15, Saman A <notifications@github.com> wrote:

Tnx for reply, But i want to know whats the process of whitelist an ip
before call to apple rep?

—
Reply to this email directly or view it on GitHub
<https://github.com/brandonusher

[2015-05-26 01:33] saman-php commented on #20
I am a web developer, i know this stuff :D, but my situation is complicated, I couldnt find your email address, i will be very appreciated if you send an email to me to ask you some questions.

My mail: saman.php@gmail.com

[2015-05-26 02:00] #20 closed

[2015-05-29 07:44] pwldp commented on #20
If your situation is complicated you can try to use TOR network as mentioned by Afif Rais (bottom of page) in https://forgetcomputers.zendesk.com/hc/en-us/articles/201010580-Best-Practices-for-Creating-Apple-IDs

[2015-05-29 12:10] saman-php commented on #20
Tnx for helping
I tried every thing like changing IP address after creating one apple id, but the red error will appear all the time, but this if this ways work, its not trusty, because we we give this apple accounts to 500 customers in month, so we have responsibility

[2015-06-05 22:24] #15 closed

[2015-06-05 22:25] #14 closed

[2015-06-05 22:25] #16 closed

[2015-06-05 22:25] #19 closed

[2015-07-01 20:08] coleman493 opened #22 "Script breaks with iTunes 12.2"
Issues with iTunes 12.2. 'Store' dropdown tab in iTunes toolbar has been renamed 'Account'.

##On SignOutiTunesAccount()

set storeMenu to menu "Account" of menu bar item "Account" of menu bar 1 of application process "iTunes"
			set storeMenuItems to title of every menu item of storeMenu
		end tell

Issues with executing security question fills as well. Continuing to test.

[2015-07-01 21:57] brandonusher commented on #22
Thanks for checking on this. I'll work on getting those patched when you say you are done testing the script

[2015-07-03 05:54] jtkant commented on #22
Also when the script gets to the Terms and conditions, it crashes.. It doesn't find the UI-element or something.. You can see the image below..
![img_2209](https://cloud.githubusercontent.com/assets/13161273/8493315/220df058-2161-11e5-8609-63118978a976.JPG)

[2015-07-06 15:21] #22 closed

[2015-07-30 20:49] stevejoyce opened #24 "Enterprise iOS Apple ID Creator.applescript"
Hi,

I just started using this script to create Apple id's for my school in Winnipeg, MB. The script works great until it gets to enter "Your Date of Birth" I get the following errors.. Unable to fill Month, Unable to fill Day.  All my users account info is enter corectly on the CSV file, but for some reason the script just goes through all the numbers of days and the months and just ends and quit

[2015-07-30 20:59] brandonusher commented on #24
Are you using the Candian Locale? If so, I'll take a look and see what I can do.

Which script are you using? I know I made a Canadian version, but haven't been keeping that up to date.

Also, what OS and iTunes version are you using?

[2015-07-30 22:06] stevejoyce commented on #24
Hi Brandonusher,
Are you using the Candian Locale? If so, I'll take a look and see what I can do.
Well I set this setting  on property iTunesCountryCode : "CAN"

Which script are you using? I know I made a Canadian version, but haven't been keeping that up to date.

I used the main script on your page. I did notice the Canadian was out of date and decided to use the latest script that has been upd

[2015-07-30 22:57] brandonusher commented on #24
One last thing then I'll be able to test tomorrow, what locale are you using inside of iTunes? I assume Canada, but want to make sure before I start testing.

[2015-07-30 23:07] stevejoyce commented on #24
Yes, ITunes is set for Canadian store

[2015-07-31 04:32] rmiguens commented on #24
Hi Steve,

I believe when I ran across this issue in the past it was due to the order of dates not being correct. What I mean is that the spreadsheet wants Month - Day - Year but the Canadian store wants Day- Month- Year. I may not be 100% correct on the order but I hope you get my drift. I know that I did have to experiment with the spreadsheet before we got it to work. I hope this isn't what is

[2015-07-31 05:18] stevejoyce commented on #24
Hi Roy,
Thanks for your feed back! I tried changing the fields in the spreadsheet around yesterday to see if this would fix the problem with no luck. I also compared the Canadian script against the US script and all the coding looks the same. But I am new to apple scripting and might have missed something. I have to take a look again. Thanks

[2015-08-05 15:37] stevejoyce commented on #24
Hi brandonusher,

Did you have any luck running testing the script by chance?

[2015-08-05 15:37] stevejoyce commented on #24
Hi brandonusher,

Did you have any luck running testing the script by chance

[2015-08-05 15:54] brandonusher commented on #24
@stevejoice Sorry, things got out of hand at work. I'll take a look at it on my lunch break today and get back to you

[2015-08-05 16:12] #24 closed

[2015-08-05 16:13] brandonusher commented on #24
I got to it a bit early. Try the new version and feel free to reopen this issue if it is not fixed.

[2015-08-06 18:56] thomttran opened #25 "Optimal Conditions for Running Script"
Hi Brandon,

Here's my current environment -

I'm currently setting up a 10.10 (Yosemite) VM, to test the conditions.

The first error I run into deals with the checkbox, under the "Terms and Conditions..." page. Here's the error

	count every UI element of UI element 1 of scroll area 1 of splitter group 1 of window 1 of application process "iTunes"

	get UI element "Terms and Conditions and Apple

[2015-08-06 19:13] brandonusher commented on #25
As of right now, I only test against 10.10.4 and iTunes 12.2.1 with United States locale in iTunes and USA in the Script.

What locale are you using when you use the script?

[2015-08-06 19:59] thomttran commented on #25
I'm currently using the US locale also.

I didn't see it in the script, but does the locale have to be defined? I only saw POL and CAN.

I will test under the same conditions, as you listed, as soon as I can.

Thanks for your response, Brandon.

Sent from my iPhone

[2015-08-06 20:00] brandonusher commented on #25
the locale does not need to be set for US, it is the default in the script

[2015-08-06 20:51] thomttran commented on #25
Thanks for clearing that up for me. It worked under those specified conditions.

I'll close up the ticket.

[2015-08-06 20:51] #25 closed

[2015-08-19 07:24] erikberglund opened #26 "Move localization to separate file"
I need a localized version of this script, and see that the localization has to be hardcoded within the script, and then select it by changing in code.

I also noticed the number of forks and that must mean that anyone who need a localized version has to fork the script, but that also means they maybe don't get any updates you provide to the main script.

This could be improved immensely if you mo

[2015-08-19 13:00] brandonusher commented on #26
Excellent suggestion!

I'll see what I can do to implement this. School is starting here soon so
I'm busy helping with that, but I'll try to make some time

Sent from my iPhone

On Aug 19, 2015, at 00:24, Erik Berglund <notifications@github.com> wrote:

I need a localized version of this script, and see that the localization
has to be hardcoded within the script, and then select it by changing in

[2015-08-24 05:14] rmiguens opened #27 "Works with iTunes 12.2.2"
Just wanted to add the comment that I successfully created 210 accounts with 12.2.2.

Thanks for all the hard work!

[2015-09-03 14:57] czych opened #28 "AppleScript Error - Can't get UI element"
Hey Brandon,

I came across your script the other day and would love to get this working to deploy 150+ ipads we need to get out as soon as possible.

I am running the script on OSX 10.8.5 with iTunes 12.1.2 and I am getting stuck with the following error (tried on a newer version of iTunes as well):

AppleScript Error - System Events got an error: Can't get UI element "iBooks" of group 2 of UI el

[2015-09-03 15:05] brandonusher commented on #28
Apple keeps changing things so in an effort to support the latest version of iTunes, I only test and update using the latest operating system and itunes versions.

The OS and iTunes versions I have tested it on are OS X 10.10.4 and iTunes 12.2.1

If possible, please try that configuration and let me know. I know iTunes has updated so I am working on checking the script for errors, but until then t

[2015-09-03 16:57] brandonusher commented on #27
Thanks for the update! I just confirmed and added 12.2.2 to the supported list

[2015-09-03 17:05] #27 closed

[2015-09-03 19:29] czych commented on #28
Brandon thanks for the fast response, I upgraded to latest OSX 10.10.5 and itunes 12.2.2 and everything is working perfectly. (I did have to add the extra comma in the CSV file as well after "Account Status").

This definitely will make my life easier!

[2015-09-03 19:29] #28 closed

[2015-10-13 20:16] RichB2u opened #30 "Script Error - System Events got an error"
Script was running fine with iTunes 12.3 running Mac OS 10.10 but after upgrading to 10.11 get this error during dry run when the "Create New Apple ID" button is about to be selected:

Script Error:  System Events got an error: Can’t get scroll area 1 of window 1 of application process "iTunes". Invalid index.

I tried clearing the iTunes cache and that didn't help.

![script error system events](

[2015-10-13 20:23] RichB2u commented on #30
The script halts with the words "Apple logo" highlighted when the error occurs. This is the part of the script:

on verifyPage(expectedElementString, expectedElementLocation, expectedElementCount, verificationTimeout, requiresGroup)
	tell application "System Events"
		--
		repeat until description of scroll area 1 of window 1 of application process "iTunes" is "Apple logo"
			delay (masterDelay *

[2015-10-13 20:29] brandonusher commented on #30
Thanks for the report @RichB2u
With the release of El Capitan I am confident Apple decided to break everything within iTunes and even the webpages it loads. I've unfortunately had to put off updating this script thanks to work issues

[2015-10-13 20:36] RichB2u commented on #30
Thanks for the feedback! I would be happy to contribute to your efforts but the donation process is not obvious. What is that BTC number?

[2015-10-13 20:49] brandonusher commented on #30
Sorry, that is for Bitcoins. I will edit my readme to include a regular
money donation too

--
Brandon Usher
usher.br@vcpusd.org
Database Systems Technician
VCPUSD Learning and Information Services
(760) 751-2902 ext. 292

On Tue, Oct 13, 2015 at 3:36 PM, RichB2u <notifications@github.com> wrote:

[2015-10-17 23:00] brandonusher opened #31 "Move script to app"
I talked to @macmule at JNUC 2015 and decided it was best to move to an App form of this script for easier usage. This is also the only way I can think of to solve #26 and make it easier for people to get updates at the same time.

[2015-10-19 11:50] khazaee opened #32 "Please help me ! Error !"
Hello!
i have many errors please help me.
itunes 12.3
El Capitan

[2015-10-19 13:02] brandonusher commented on #32
This is a duplicate of #30 and will be fixed when I test and tweak #29

[2015-10-19 13:02] #32 closed

[2015-10-19 17:00] brandonusher commented on #30
I have updated the script with #29 and it seems it has fixed it. Commit c28b68b

[2015-10-19 17:07] brandonusher commented on #26
@erikberglund Just an FYI, I haven't forgotten your request. I'm slowly trying to think it out, but every time I use the script or update it I'm trying to this of ways to make the transition easier.

[2015-10-19 17:08] brandonusher commented on #30
Thank you @RichB2u, I appreciate the donation very much

[2015-10-23 18:53] JRHutson opened #33 "Minor Updates."
I'm running iTunes 12.2.2.25 and running into errors when running the script. To your knowledge do I need to get my machine specifically on 12.2 or one of the other listed versions for it to work?

[2015-10-26 03:16] brandonusher commented on #33
To the best of my knowledge your iTunes version will work fine. However, I only test with the latest Mac OS.

Are you running 10.11?

[2015-10-26 16:14] selaschuk opened #34 "Script requires manual press of "OK" after each user"
Currently experiencing an issue where the script requires manual intervention to press an "OK" button at the end of the user creation process. Otherwise it errors out and doesn't proceed to the next user. Not sure if this is just specific to Canadian iTunes or not. Also the province dropdown from the previous screen doesn't clear, but it still creates the user fine.

![itunes](https://cloud.github

[2015-10-26 17:45] JRHutson commented on #33
I wasn't. We are still running Yosemite on our work computers since we haven't been able to get the 64bit Notes client in order for that to be compatible with El Capitan. =(

Tried a dry run on a coworker's personal computer that has been updated and ran into the following error.  This was with iTunes 12.3.1.23 though, which could be causing the new error.

![screen shot 2015-10-26 at 10 38 46 am]

[2015-10-26 17:48] brandonusher commented on #33
I updated the script a few days ago to try and fix that. The reason it does
that is because iTunes check if your mouse has moved now, so I had to add
some fake "movement". Please download the current version and let me know
the results

Sent from my iPhone

On Oct 26, 2015, at 10:45, Regan <notifications@github.com> wrote:

I wasn't. We are still running Yosemite on our work computers since we
hav

[2015-10-26 22:54] JRHutson commented on #33
Brandon,
    We did a dry run with the updated script and it got through the first Apple ID on the list. I chose the option to continue the Dry Run to confirm it would successfully move on to the next name and got the below error.

![screen shot 2015-10-26 at 3 50 36 pm](https://cloud.githubusercontent.com/assets/10876900/10744802/c5a425fa-7bf9-11e5-9000-127bbc3204bd.png)

[2015-10-26 22:58] brandonusher commented on #33
Does it show the "Welcome to the iTunes Store" window after you hit
"Continue Dry Run"? Did it load the iBooks page then click "Get" then
"Create Apple ID"?

--
Brandon Usher
usher.br@vcpusd.org
Database Systems Technician
VCPUSD Learning and Information Services
(760) 751-2902 ext. 292

On Mon, Oct 26, 2015 at 3:54 PM, Regan <notifications@github.com> wrote:

[2015-10-26 23:02] JRHutson commented on #33
It loads the iBooks store and brings up the window to enter your Apple ID or create a new one, then we get the error.

[2015-10-26 23:04] JRHutson commented on #33
After dismissing the error, iTunes continues to the Welcome to iTunes screen.

[2015-10-27 15:35] brandonusher commented on #33
I will take a look at the script today and see what I can do

--
Brandon Usher
usher.br@vcpusd.org
Database Systems Technician
VCPUSD Learning and Information Services
(760) 751-2902 ext. 292

On Mon, Oct 26, 2015 at 4:04 PM, Regan <notifications@github.com> wrote:

[2015-10-27 15:42] JRHutson commented on #33
Thanks. I have a batch of ID's I need to create so I'll try today and see if the error is limited to the dry run workflow.

[2015-10-27 19:11] brandonusher commented on #34
Ah... Knew I was forgetting something in the updates, it was the localization. I'll see what I can do, but for now I'm trying to find a solutino to #33

[2015-10-27 19:14] JRHutson commented on #33
I started running a batch of new Apple ID's and am not getting the error when the script is out of "Dry Run" mode. I am getting an error where it can't find the "Create Apple ID" button on the final screen however. Going to take another look at it when I get back from lunch. Wanted to post an update incase it's helpful on your end.

[2015-10-27 19:17] brandonusher commented on #33
I appreciate the report. I'm trying it with a regular run and still getting
the same error so I'm searching for an answer

--
Brandon Usher
usher.br@vcpusd.org
Database Systems Technician
VCPUSD Learning and Information Services
(760) 751-2902 ext. 292

On Tue, Oct 27, 2015 at 12:14 PM, Regan <notifications@github.com> wrote:

[2015-10-27 19:23] JRHutson commented on #33
The same "Create Apple ID" button error or the original one?

[2015-10-27 19:47] brandonusher commented on #33
The original one, "Can't find 'Welcome to the iTunesStore'"

--
Brandon Usher
usher.br@vcpusd.org
Database Systems Technician
VCPUSD Learning and Information Services
(760) 751-2902 ext. 292

On Tue, Oct 27, 2015 at 12:23 PM, Regan <notifications@github.com> wrote:

[2015-10-27 21:21] JRHutson commented on #33
I found the source of the issue with clicking the final "Create Apple ID" button. If you want, I can branch and create a pull request.

[2015-10-27 21:57] brandonusher commented on #33
Yes, please!

--
Brandon Usher
usher.br@vcpusd.org
Database Systems Technician
VCPUSD Learning and Information Services
(760) 751-2902 ext. 292

On Tue, Oct 27, 2015 at 2:21 PM, Regan <notifications@github.com> wrote:

[2015-10-27 22:05] JRHutson commented on #33
I'm not currently authorized to create a new branch.

[2015-10-27 22:06] brandonusher commented on #33
Not sure if I was able to do that right, but try now. If that doesn't work
how we want you will have to fork then create a pull request

--
Brandon Usher
usher.br@vcpusd.org
Database Systems Technician
VCPUSD Learning and Information Services
(760) 751-2902 ext. 292

On Tue, Oct 27, 2015 at 3:05 PM, Regan <notifications@github.com> wrote:

[2015-10-27 22:12] JRHutson commented on #33
Pull request submitted.

[2015-10-30 19:09] kdglover9 opened #36 "iTunes 12.3.1.23 error"
Error:
error "System Events got an error: Can’t get UI element \"Welcome to the iTunes Store\" of UI element 1 of scroll area 1 of splitter group 1 of window 1 of application process \"iTunes\"." number -1728 from UI element "Welcome to the iTunes Store" of UI element 1 of scroll area 1 of splitter group 1 of window 1 of application process "iTunes"

NOTES:
Once you click on the iTunes window it r

[2015-10-30 20:12] brandonusher commented on #36
Duplicate of #33

[2015-10-30 20:12] #36 closed

[2015-10-30 20:15] brandonusher commented on #33
@JRHutson: For the initial error of "Can't get Welcome to iTunes Store", did the clicking of the Apple Logo help fix the issue?
@kdglover9

[2015-10-30 20:29] kdglover9 commented on #33
No you must actually click in the iTunes window to trigger the refresh.

On Fri, Oct 30, 2015 at 3:15 PM, Brandon Usher <notifications@github.com>
wrote:

[2015-10-30 23:34] JRHutson commented on #33
Downloaded the new script and ran it in test run mode. The behavior I'm seeing is the same error gets thrown, then the Apple Logo gets clicked and iTunes shifts to the "Welcome to the iTunes Store" screen.

[2015-11-02 14:35] kdglover9 commented on #33
I forgot to note I'm using OS 10.11...maybe thats the difference.
Here's a little update. If I run the script from from an open AppleScript
window (clicking the play button) System Events doesn't bring iTunes to the
front, I see the (click Apple Logo) happen but in the background the iTunes
window doesn't refresh to the "Welcome to iTunes" screen, which prompts
that error.

I can run the script li

[2015-11-11 12:23] iM4hdi commented on #30
Hi Sir
sorry i updated my macbook pro to 10.11.1 and i get this error again
any fixes?
Script Error: System Events got an error: Can’t get scroll area 1 of window 1 of application process "iTunes". Invalid index.

[2015-11-13 16:09] iM4hdi commented on #33
i test script on OS X 10.8 and i get same error 😐

[2015-11-13 16:14] kdglover9 commented on #33
I've tested a basic script and was only able to get the page to load if I
told "iTunes" to ACTIVATE after clicking the create apple id button.
iTunes must come to the front most window for the page to refresh. FOCUSing
on iTunes doesn't work.

I don't understand the script enough to figure out where to insert it and
fix it...

On Fri, Nov 13, 2015 at 10:09 AM, iMahdi <notifications@github.com> wro

[2015-11-13 16:17] iM4hdi commented on #33
hmmmm, I'm going to test script on older iTunes versions
but now I'm on OS X 10.11.1 and iTunes 11.2.2.25
script can't click on Create Apple ID

[2015-11-13 16:25] brandonusher commented on #33
Thanks for that bit of help @kdglover9 I'll add an activate statement.

@iM4hdi Have you tried what @kdglover9 said worked for him? After selecting the CSV to manually tab over to iTunes and see if that works without error?

[2015-11-13 16:45] iM4hdi commented on #33
no, it doesn't
also i tried to click many times and mouse movement in iTunes after i start script
everyone gets that error these days
maybe apple changed something ?

[2015-11-13 16:58] brandonusher commented on #33
I just pushed a new version that includes an activate command to iTunes and tried it on my computer. It's working perfectly for me. I'm on OSX 10.11.1 and iTunes 12.3.1.23

[2015-11-13 17:02] iM4hdi commented on #33
if u need i have mac and we can make a team viewer connection ?

[2015-11-13 17:05] brandonusher commented on #33
@iM4hdi I appreciate the offer, but I'm trying to think of a way to have this all done in a better fashion as well as I just realized VirtualBox may be able to help me with this so I will try that and see if I can get specific versions going from there.

[2015-11-13 17:11] kdglover9 commented on #33
I just tried the updated script and it works fine for me. The only issue I
noticed is that if iTunes isn't open, the script fails to get the iBooks
window. (assuming it doesn't wait long enough).

Otherwise the previous error seems to be resolved.
I ran 3 dry runs without getting the original error.

Thanks!

On Fri, Nov 13, 2015 at 11:05 AM, Brandon Usher <notifications@github.com>
wrote:

[2015-11-13 17:13] brandonusher commented on #33
Glad to hear it @kdglover9! I'll see if I can figure out how to ensure iTunes is open before it even tries to open the iBooks page

[2015-11-13 17:22] iM4hdi commented on #33
i update my iTunes to 12.3.1 and going to test new update

[2015-11-13 17:26] iM4hdi commented on #33
oh it works
thanks @brandonusher
what about white listing IP?

[2015-11-13 17:30] brandonusher commented on #33
@iM4hdi You will have to talk to an Apple Engineer about that. They do it on a case by case basis

[2015-11-13 17:31] iM4hdi commented on #33
i asked them but they didn't response
can u do that for me ?
i can pay for it

[2015-11-13 17:38] brandonusher commented on #33
No, sorry.

[2015-11-13 17:40] iM4hdi commented on #33
iTunes asks:
Did everything fill in properly?
i think it because of speed
and at the end of script it doesn't click at create apple id
------------
thanks for support sir 😊
do you have twitter so i can follow u there

[2015-11-13 17:42] kdglover9 commented on #33
iMahdi, do you know your local Apple Engineer? Reach out to them if your in
education. They will push it through.

On Fri, Nov 13, 2015 at 11:38 AM, Brandon Usher <notifications@github.com>
wrote:

[2015-11-13 17:42] brandonusher commented on #33
@iM4hdi I do not have a twitter. As far as the "Did everything fill in properly?" question, that would be because Dry Run was selected. Sometimes there is a bug I've noticed that you have to quit Script Editor then reopen the script so it doesn't do Dry Run. Not sure why it does that, but it does

[2015-11-13 17:44] iM4hdi commented on #33
@kdglover9 no there isn't :(

[2015-11-13 17:45] iM4hdi commented on #33
@brandonusher ok sir, but what about "Create Apple ID' button ?
script can't click it at the end of apple id creation

[2015-11-13 17:46] brandonusher commented on #33
@iM4hdi If you are doing Dry Run, it won't click it. Are you doing Dry Run?

[2015-11-13 17:49] iM4hdi commented on #33
yes, i tried other one and it worked
thanks for your support :+1: ❤️

[2015-11-13 17:49] iM4hdi commented on #33
@kdglover9  what is your idea about IP Changer ?

[2015-11-13 17:54] kdglover9 commented on #33
I don't think IP Changer can get your ISP to give you new external IP's.
Apple uses velocity tracking. Too many request too fast and the black list
you.
*Do not get black listed*. If you think getting white listed is challenging
try proving that your not trying to scam them or DDoS them.
If your in education call:1-800-800-2775

Thats your best bet to get white listed, and remember its only for a

[2015-11-13 17:56] iM4hdi commented on #33
@kdglover9 what will apple ask it? (i mean documents)

[2015-11-13 18:13] brandonusher commented on #33
Not sure what they will ask for @iM4hdi, usually I always have to go through our Engineer so we have existing information on file with them. If you are in education and have Apple Products, you should find out how to get an account with them before continuing with this.

After that, you will have to get your IP whitelisted. If you're not in Education, then I'm unsure how to do it for Enterprise bu

[2015-11-13 18:17] brandonusher commented on #33
@iM4hdi Here is a help article with some Apple Numbers: https://support.apple.com/en-us/HT201232

Check there and call the one that applies to you and ask more information

[2015-11-13 18:48] iM4hdi commented on #33
unfortunately I'm not in Education
and i can't ask apple for  whitelisting my IP coz our country is out of service

[2015-11-13 19:28] kdglover9 commented on #33
From what I remember the threshold is 10 per day. 11th AppleID created
within a 24hr period and your on the list.
The only thing I can suggest at this point is setup some kind of VPN
service with a static IP in a supported country and get Apple to whitelist
that ip.
Good luck

On Fri, Nov 13, 2015 at 12:48 PM, iMahdi <notifications@github.com> wrote:

[2015-11-13 20:09] iM4hdi commented on #33
@kdglover9 thanks for your help :)
i have an IP out of country but if apple ask for documents
what can i do then?

[2015-11-28 08:32] joef33 commented on #30
Thanks a lot for sharing this script!
I have the same error message:
Script Error: System Events got an error: Can't get scroll area 1 of window 1 of application process "iTunes".  Invalid index.
on both my macbook pro running OS 10.10.5   iTunes 12.3.1.23
and iMac running OS 10.11.1   iTunes 12.3.1.23
I tried iTunes>Preferences>Advanced>Reset cache, but didn't work.
Greatly appreciated if you can

[2015-11-30 20:52] brandonusher commented on #30
Well crap. I'll search into this if I get some time. I'm going to be at a conference the rest of this week so we shall see how much time I get

[2015-12-03 06:35] tratten76 opened #38 "Error after a while of using the Apple-ID-AppleScript (screenshot)"
This happens after a while running with the appleid create script.
And it won't go away.. solution i found is to make a new user and start over again and it works.
If i change back to old user itunes will not work.. and i get that error message after a while in the creation process.
I tried deleting safari cache/cookies and also delete pref files under ~/Library/Preferences
it dont help. A new use

[2015-12-03 17:11] brandonusher commented on #38
I see this all the time on my computer. I do exactly as you do and create a new user then continue. Nothing is wrong with the Internet connection, Apple just limits certain things I guess that can't be manually fixed.

There is a clear iTunes cache button under one of the menus but I don't recall where it is right now

[2015-12-07 14:19] jploughe opened #39 "Time out issue and mouse movement"
When I run the script to create ID's, I have to keep moving the mouse every few seconds or the process times out.  It started on Friday (12/4/15) when I tried to create a batch of 50 ID's.  It started after the 6th ID.  at first I thought it was an issue with Apple's site.  I restarted the script with ID#7 and it timed out again after 6 more ID's.  After 23 ID's, I gave up for the day. (yes, I did

[2015-12-07 14:45] brandonusher commented on #38
Since I don't have a definitive solution to this, I am closing this issue as it's something Apple seems to be doing (even if they don't admit it)

[2015-12-07 14:45] #38 closed

[2015-12-07 14:47] brandonusher commented on #39
This is a limitation Apple added a while ago and I've been trying to find a solution. So far the closest I've gotten is clicking the apple logo but that still doesn't work all the time.

I'm still searching for a solution

[2015-12-08 02:04] karlilarsen opened #40 "System Events Error"
I'm getting this error after clicking on iBooks, it won't get past the "Create Apple ID" button, and keeps going back to the Apple Logo. Any thoughts?

error "System Events got an error: Can’t get scroll area 1 of window 1 of application process \"iTunes\". Invalid index." number -1719 from scroll area 1 of window 1 of application process "iTunes"

[2015-12-08 05:24] brandonusher commented on #40
Duplicate of #39

[2015-12-08 05:24] #40 closed

[2015-12-08 10:40] khazaee commented on #30
Hi.
im download update for el capitan but this script have problem yet.

[2015-12-08 14:58] khazaee commented on #30
Thanks a lot for sharing this script!
I have the same error message:

[2015-12-08 17:48] jploughe commented on #39
New twist.  Now  if i don't keep the mouse in motion, they have a bogus message popping up telling me it can't communicate with iTunes Store and to check my firewall settings for port 443.  If I click OK fast enough script will continue.

[2015-12-08 17:51] brandonusher commented on #39
That... Is not something I've seen before. Having never seen this myself
I'm not sure how to counteract this

Sent from my iPhone

On Dec 8, 2015, at 09:48, jploughe <notifications@github.com> wrote:

New twist. Now if i don't keep the mouse in motion, they have a bogus
message popping up telling me it can't communicate with iTunes Store and to
check my firewall settings for port 443. If I click O

[2015-12-08 17:51] jploughe commented on #39
I will try to get a screen shot for you

[2015-12-08 18:07] jploughe commented on #39
tried again and it let me finish the last 10 ID's I was making without the popup.  I only moved mouse until it got to last page before it says it sent verification email.

[2015-12-10 11:51] Aliakk opened #41 "Selecting "Create apple ID""
hey ev.one:
there is a problem that i catch , when i run this script , itunes goes to get ibook and after click on "Get" btn
new Window "Sign in to ..." shows me in this step script must be click on "Create apple id" but script get an error that say: "System Events got an error: Can’t get scroll area 1 of window 1 of application process "iTunes". Invalid index"

i test it with several version of i

[2015-12-10 15:40] brandonusher commented on #41
@Aliakk What OS version are you running? I last tested this script with OS X 10.11.1

[2015-12-22 23:02] khazaee opened #42 "Please answer ! problem with El Capitan"
Script Error: System Events got an error: Can’t get scroll area 1 of window 1 of application process "iTunes". Invalid index.

[2015-12-22 23:38] brandonusher commented on #42
Duplicate of #30 just like your last one. I'm still searching for an answer for this but seeing as it's holiday time, I don't have much time to dedicated to tracking down this issue.

[2015-12-22 23:38] #42 closed

[2015-12-22 23:40] khazaee commented on #42
:(

[2016-01-06 17:38] d80buckeye commented on #41
I'm running into the same issue on 10.10.4. I've tried iTunes 12.2.2 and 12.3.2.

[2016-01-15 03:49] PCF-Ronin opened #43 "AUS localisation errors"
I've modded a copy the script a bit to better support Australian itunes
we run the same date order as Canada which you already had (the easy bit)

I'm having trouble with our 4 digit post code and our 3 letter state code drop down
(mostly because I don't know what I'm doing)
If i leave the code as is (USA) My postcode field is filled in with my City, my City field is left blank and the script erro

[2016-01-15 17:05] brandonusher commented on #43
Hi @PCF-Ronin,

From your screenshot it appears iTunes get's an extra field. I will check if that's the case then guide you from there.

[2016-01-18 23:51] PCF-Ronin commented on #43
Hi @brandonusher ,
I had a feeling that might be it

Cheers

[2016-01-20 13:57] bugfrisch opened #44 "Terms and conditions"
Hi,

thank you for the script I like it very much.

I have issues here with the "Agree" checkbox of the terms and conditions step (currently I try to dry run).

It prompts me to do this step manually.

This is the error message:
`Unable to locate and check box #2 ''I have read and agree to these terms and conditions.''`

I can manually click on "I have read and agree to these terms and conditions"

[2016-01-20 15:28] bugfrisch commented on #44
I solved all of the above problems by switching the payment region in iTunes from germany to United States. It would be nice to have support for German Apple IDs. I can help translating if you need support.

[2016-02-09 18:34] JRHutson opened #45 "Account Status."
Script is currently not updating Account Status field for me when running on 10.11.3 with iTunes 12.3.2.35.

[2016-02-09 18:54] brandonusher commented on #45
This feature has never worked for me, even when the original author wrote it. It was something I've wanted to fix/implement but I've yet to find the time to work on any of the issues for this script lately.

[2016-02-09 19:06] JRHutson commented on #45
When the script throws an error how do you determine where it was to start again? I can't tell whether I have users that claim not to have an Apple ID who actually do or what's going on.

[2016-02-09 19:07] brandonusher commented on #45
When viewing the messages it outputs in the bottom window, it should say which one it was creating

[2016-02-10 00:02] JRHutson commented on #39
After generating around 100 ID's today, I've started to get a "Your session has timed out" message. Talked to our Apple Solution Engineer and tried resetting iTunes Cache with no luck. He's reaching out to one of the engineering teams to see what they say. One of the machines seemed to be back after about an hour. When I started up the script again it got half way through the first Apple ID and ga

[2016-02-10 03:09] bsquidwrd commented on #39
@JRHutson I have seen this as well. The **only** thing that has fixed it for me is creating a new user on the computer or using a new computer all together. Anything short of that and it won't work.

I've tried deleting everything iTunes related (Cache, actual files/folders called iTunes and the users cache folder) and I've not had any luck. It may fix it for 2 Apple ID's but after that it comes r

[2016-02-10 03:10] brandonusher commented on #39
@JRHutson I have seen this as well. The **only** thing that has fixed it for me is creating a new user on the computer or using a new computer all together. Anything short of that and it won't work.

I've tried deleting everything iTunes related (Cache, actual files/folders called iTunes and the users cache folder) and I've not had any luck. It may fix it for 2 Apple ID's but after that it comes r

[2016-02-10 05:25] JRHutson commented on #39
@brandonusher That's a nusance, but if it fixes the issue it will be a godsend. Do you just set up a new user when you start a big batch in anticipation?

[2016-02-10 05:27] bsquidwrd commented on #39
Pretty much. Or just image a computer clean and use it again.

Come to think of it, if you have Virtual Box or something you could create
a snapshot of a machine before you even create any Apple ID's and restore
the snapshot before every batch.

--
Brandon
busher2010@gmail.com

On Tue, Feb 9, 2016 at 9:25 PM, Regan <notifications@github.com> wrote:

[2016-02-10 06:02] brandonusher commented on #39
Pretty much. Or just image a computer clean and use it again.

Come to think of it, if you have Virtual Box or something you could create
a snapshot of a machine before you even create any Apple ID's and restore
the snapshot before every batch.

Also, sorry for the duplicate notification. Accidentally got my personal projects account thrown in to the mix of replying to you.

[2016-02-17 12:01] Jasonface opened #46 "contact Apple"
Dose any one contact Itunes Support team to take IP in to whitelisted ??
...........
i think they dont accept this script , because they dont answer me.....
may be im in the wrong way , could someone help me for that????

[2016-02-17 15:54] JRHutson commented on #46
iTunes support will not help you with whitelisting. Are you in the US? Are you working with a business or educational institution? You need to determine the right enterprise rep to work with from Apple. They will be able to request that your domain be whitelisted.

Also, take note of the issue described at the bottom of this thread. https://github.com/brandonusher/Apple-ID-AppleScript/issues/39 I'

[2016-02-17 16:35] JRHutson commented on #39
@brandonusher Can you give me permission to create a branch? I was going to add a note about this to the Read Me.

[2016-02-19 02:03] brandonusher commented on #46
@JRHutson Is correct, you have to contact Enterprise/Education support to get whitelisted.

[2016-02-19 02:04] #46 closed

[2016-02-19 02:05] brandonusher commented on #44
I've been wanting to do something like that @bugfrisch but have yet to get any time to do this.

I will mark this closed and am referencing issue #31

[2016-02-19 02:05] #44 closed

[2016-02-19 02:07] brandonusher commented on #33
@kdglover9 is correct. Usually it's 10 Apple ID's per day before you get blacklisted for 24 hours.

Apple is pretty good at detecting spam so if it's spread out like an actual user is creating an Apple ID on different devices (even when using the same external IP) they usually allow it.

[2016-06-06 20:14] MichaelNelsonLoganSchools opened #47 "Script stuck on Apple Logo"
When running the script, on iTunes 12.1.2, It opens iTunes and goes to the iBooks page, hits the apple logo, then opens the Sign In page. However once it gets to this step, it says 'Script Error - System Events got an error. Can't get scroll area 1 of application process "iTunes". Invalid Index.

I've run the script on OSX 10.10 and 10.11 and I get the same error both times.

I can sometimes (with

[2016-06-06 20:45] brandonusher commented on #47
Hi @MichaelNelsonLoganSchools

Sorry to say, but this repo is no longer kept up due to lack of time as well as lack of need at my current job.

I can tell you that the issue you are seeing is why I added the clicking of the Apple Logo. It provided a way to bypass apple requiring some sort of mouse movement but it no longer works. I tried to find a way to wiggle the mouse a bit as well, but to no a

[2016-06-06 20:53] kochalex commented on #47
Also @MichaelNelsonLoganSchools, depending on your use case, instead of running this script you may be able to use Managed Apple IDs that are coming with Apple School Manager.  Talk to your Apple rep and/or see: http://www.apple.com/education/it/

[2016-06-06 21:09] MichaelNelsonLoganSchools commented on #47
Thanks for the quick feedback! I'll see if managed accounts will work for us.

[2016-07-12 12:00] onerain88 opened #48 "The limitation of Create Account"
How many apple ids could be create per mac or ip?
iTunes 12.4.1.6, MacOS 10.11.5
Thank you!

[2016-07-13 20:05] brandonusher commented on #48
This script is no longer being kept up to date.

When I was using it I was able to make (provided there are no errors that occur), around 1000/day

[2016-08-01 16:09] BillCampbell commented on #47
I have been looking at this script on and off last week with the hope of trying to fix it. It seems obvious now, but I just figured out at least one problem (hopefully THE problem) with why it no longer works even on what was previously supported version of Mac OS and iTunes.  iBooks is no longer an app you can get in the app store because it is now built-in to iOS. While you can go to the app pag

[2016-08-01 16:16] #48 closed

[2016-08-03 19:22] BillCampbell commented on #47
@brandonusher After a number of edits, I have the script currently working on iTunes 12.4.3 and Mac OS 10.11.6. I'm new to contributing source on GitHub, but I believe I need to be added as a contributor of some sort so I can push the local branch I created with my changes to your project. Then I can submit that as a pull request to the master branch.  Keeping it all in this project seems better t

[2016-08-03 19:25] brandonusher commented on #47
@BillCampbell I have added you. Please go ahead and create a new branch called "issue 47" and check it out. Once you do that, please update the code to your version that is working, push it to GitHub and create a pull request.

[2016-08-03 19:27] brandonusher commented on #41
More up to date issue is #47

[2016-08-03 19:27] #41 closed

[2016-08-03 19:28] brandonusher commented on #47
Also @BillCampbell, Did you by chance get it to work even when requiring mouse movements as mentioned in #34 ?

[2016-08-03 19:29] brandonusher commented on #34
I believe this was solved a while ago

[2016-08-03 19:29] #34 closed

[2016-08-03 20:15] BillCampbell commented on #47
@brandonusher Do you want me to merge the pull request or do you want to check it out first and do it yourself?

[2016-08-03 20:16] brandonusher commented on #47
@BillCampbell You can go ahead and merge it since you've done all the testing, you may as well get the credit :)

[2016-08-03 20:19] brandonusher commented on #47
So I will go on a limb and say this issue is closed with #50

If that is not the case, hopefully someone will speak up

[2016-08-03 20:19] #47 closed

[2016-08-03 20:22] BillCampbell commented on #47
@brandonusher I wouldn't say I thoroughly tested it, but it worked for me on a limited run. That's better than it did a few days ago, which was not at all.  This has been a learning experience as I never worked with AppleScript prior to last week.  Shout out to the utilities Script Debugger and UI Browser and the limited duration free trials.  No way I would have figured any of this out in the tim

[2016-08-08 15:04] Fgallati opened #51 "Doesn't press the "Get" Button"
Hi there

After choosing the cvs file.
I started the script, it searches for the iTunes U App but after that it is stuck.
It doesn't presses the "Get" Button and following up there is an Error

"System Events got an error: Can’t get static text 4 of window 1 of application process "iTunes". Invalid index."

and "Sign in to the iTunes Store" is marked in the Script.

any ideas?

Thanks

[2016-08-08 15:19] BillCampbell commented on #51
What macOS and iTunes versions are you  using?  The script likely only works on the versions listed in the read me.

[2016-08-08 15:31] Fgallati commented on #51
Hi

Thanks for the fast respond.
I use 10.11.6 should be working on that right?

Freundliche Grüsse

Fabio Gallati
Supporter
--------------------------------------------------------------------------
Data Quest AG / Letec
Corporate Business Unit
Seidenstrasse 4, CH-8304 Wallisellen, Schweiz
Tel: +41 (0)58 225 52 52
--------------------------------------------------------------------------

Nutzen

[2016-08-08 15:45] brandonusher commented on #51
@Fgallati Please also put your iTunes version as well. As it states in the README, this only works for a certain version of iTunes and MacOS:

[2016-08-08 15:52] Fgallati commented on #51
The itunes version im using is 12.4.3.1?

Von meinem iPhone gesendet

[2016-08-08 16:15] BillCampbell commented on #51
@Fgallati That is the macOS and iTunes versions I used with some success. However, I only developed and tested this for the US App store, and I notice the country code for your email address is .ch.  If you are not using the US app store, maybe the html for the app page is structured differently for your app store.  Changes in the US app store are what broke this last time and what I attempted to

[2016-08-31 18:30] seesolve commented on #39
Try using the `with timeout` clause. (The snippet below is from Hanaan Rosenthal's excellent [Learn AppleScript](http://www.apress.com/9781430223610) book.)

The following script lets the user choose a file. It will allow the dialog box to remain open for one hour before automatically exiting the script. The problem is that even after the choose file command times out and causes the script to stop

[2016-08-31 18:36] seesolve commented on #51
@Fgallati, you might want to check out and use the free trial of [UI Browser](http://pfiddlesoft.com/uibrowser/) to help you find the exact reference to the button that is supposed to be pressed.

[2016-09-14 19:32] clburlison opened #54 "Latest Update"
Hey everyone,

I was able to get this running on Friday (Sept 9) and Monday (Sept 12) however it seems like today Apple might have changed something on their end? I'm not sure why this is happening but the script now stops at the agree to terms and condition window.

The AppleScript error message is:

    System Events got an error: Can’t get UI element
    "Terms and Conditions and Apple Privacy

[2016-09-14 21:32] BillCampbell commented on #54
@clburlison
Since iOS 10 released on Tuesday, Sept 13 (in the US at least), I'm guessing something changed with the terms windows and broke the script.  While I've found this script useful, this is why it is no longer maintained.  I have no reason to use it until at least next summer (and maybe not again ever), and I don't really have time to look at it.  However, tools I found useful over the cou

[2016-09-14 22:04] rmiguens commented on #54
Hi Bill,

	I agree - those who needed this should be moving towards Apple School Manger and such. Thank you for your contributions as this has helped us out once or twice!
Thanks,

Roy Miguens
Director of IT
Calgary Arts Academy
The Art of Learning
(403) 229-3010 ext 2228

Calgary Arts Academy is an innovative charter school that engages children through Arts Immersion to become confident learners

[2016-09-15 13:12] clburlison commented on #54
@BillCampbell Thanks for the resources. If I'm able to find time and get this working I'll definitely create a PR.

[2016-09-21 04:20] seesolve commented on #54
Highly recommend option 4. PFiddlesoft's UI Browser can easily help you identify the correct reference to the UI element.

[2016-09-21 05:07] seesolve commented on #42
The reference to the element has changed. Use the following line instead.
[code]

[2016-10-11 17:29] jploughe commented on #54
The only problem with the accounts created in ASM is that they can only browse the store, they cannot get apps.  If you want the ID's to still be able to get free apps, you have to create the ID by hand.

[2016-10-11 19:06] BillCampbell commented on #54
@jploughe
The idea behind using Managed Apple Ids created in ASM is that you would distribute apps using an MDM or maybe Apple Configurator.  (I use JAMF Casper so I don't know much about Configurator.)  With Casper I can "purchase" app licenses (even for free app) via the Apple Volume purchase store and distribute those apps via my own Self Service portal. Therefore, the App Store and making purc

[2016-10-12 13:09] jploughe commented on #54
@BillCampbell
I agree that in an ideal world, they should only be getting apps via our MDM.  However,  those with higher pay grades than me say the users should be able to get free apps of their choosing when they want them.
I do hope someone can fix the script to get past the Agree to Terms page.  I don't know enough about apple scripting yet to understand its conventions.

[2017-01-12 08:57] CoderZlee opened #55 "It does't work on iTunes 12.5.4"
Why not continue to maintain this tool

[2017-01-12 15:09] brandonusher commented on #55
My thought is that Apple is coming out with better Student Apple ID functionality where the IT Administrators have better ways of managing the Apple IDs for Students en-masse than you could with "Real" Apple ID's.

Also because of being able to now assign apps to Devices vs Apple ID's, I found this script to become unneeded by myself and many others.

[2017-01-24 22:40] #55 closed

[2017-05-10 06:01] MrCaffeen commented on #43
I have fixed this in my branch... few versions of this floating around.

https://github.com/MrCaffeen/Enterprise-iOS-Apple-ID-Creator

[2017-07-29 00:57] andyesco opened #56 "System Events got an error"
I tried downgrading to the last itunes version that was supported but still no luck. Would me being on sierra have anything to do with it? Any advice would be greatly appreciated.
<img width="710" alt="screen shot 2017-07-28 at 8 53 49 pm" src="https://user-images.githubusercontent.com/30540257/28740779-3d1a4c0a-73d7-11e7-9511-b89788bb6d53.png">

[2017-08-03 16:35] BillCampbell commented on #56
The version of iTunes isn't the only thing that breaks this script.  iTunes seems to load html content from Apple servers for the account creation pages and that content changes even for older iTunes versions. I gave up trying to fix or use this script this year as I Apple seems to now require verifying the email address during account creation and, in addition, there was a captcha.  We made about